

img{
    border-radius: 50%;
    position: relative;
    
}

    h1{
        background: gray;
        font-size: 3rem;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border: 2px solid gray;
        border-radius: 150px;
    text-indent: 30px;
    font-weight: bold;
    font-size: 30px;
    text-align:initial;
    
}
h2{
    text-align:left ;
    font-size: 40px;
    margin-left: 40px;
   
}
h4{
    font-size: 20px;
    font-weight: bold;
    margin-left: 00px;

}
h3{
    font-size: 24px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color:blue ;
}
p{
    margin-left: 40px;
    color:dodgerblue;
    font-size: 20px;
    display: flex;

}
.li_wrap{
    display: flex;
    font-size: 20px;
    width: 100%;
    margin-bottom:40px ;
   margin-left: -30px;
    letter-spacing: 1px;
    text-indent: 2rem; 
    /* text-align: justify; */
    vertical-align: top;
}
li{
    font-size: 20px;
}
p1{
    font-size: 20px;
}
.bar{
    background:white;
    display: block;
    height: 20px;
    border: 2px solid rgba(0,0,0,0.5);
   
    overflow: hidden;
    box-shadow: 0 0 1px blue;
}
.bar span{
    height: 20px;
    float: left;
    background:cornflowerblue;

}
.giaotiep{
    width: 90%;
}
.thuongluong{
    width: 70%;
}
.thanhthao{
   width:70%;
}
.thuyetphuc{
    width: 90%;
}
.MS{
    width: 80%;
}
.viecnhom{
    width: 80%;
}
div.des{
    font-size: 50px;
    margin-left: 15px;
}
div.img_holder{
    position: relative;
}